[Unit]
Description=promnesia Daemon

[Service]

ExecStart=~/.config/promnesia-nix/bin/promnesia serve

ExecStartPre=~/.config/promnesia-nix/systemd/promnesia-pre-start.sh
Restart=on-failure

