[Unit]
Description=promnesia Daemon

[Service]

ExecStart=/home/test/.config/promnesia-nix/result/bin/promnesia serve

ExecStartPre=/home/test/.config/promnesia-nix/systemd/promnesia-pre-start.sh
Restart=on-failure

